---
import { AddToCart } from "@/functional-components/cart/AddToCart";
import type { Product } from "@/lib/shopify/types";
import Price from "@/functional-components/Price";
import DynamicIcon from "@/helpers/DynamicIcon";

interface Props {
  products: Product[];
}

const { products } = Astro.props;
---

<div
  class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 lg:gap-8"
>
  {
    products.map((product: any) => {
      const {
        title,
        handle,
        featuredImage,
        priceRange,
        variants,
        compareAtPriceRange,
      } = product;

      const defaultVariantId = variants.length > 0 ? variants[0].id : undefined;
      return (
        <div class="group relative mb-8 text-center md:mb-14">
          <div class="relative overflow-hidden">
            <img
              src={featuredImage.url || "/images/product_image404.jpg"}
              width={312}
              height={269}
              alt={featuredImage.altText || "fallback image"}
              class="border-border dark:border-darkmode-border h-[150px] w-[312px] rounded-md border object-cover md:h-[269px]"
            />

            <AddToCart
              client:only="react"
              variants={product.variants}
              availableForSale={product.availableForSale}
              handle={handle}
              defaultVariantId={defaultVariantId}
              stylesClass="btn btn-primary max-md:btn-sm z-10 absolute bottom-12 md:bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full md:group-hover:-translate-y-6 duration-300 ease-in-out whitespace-nowrap drop-shadow-md"
            />
          </div>
          <div class="z-20 py-2 text-center md:py-4">
            <h2 class="text-base font-medium md:text-xl">
              <a
                class="after:absolute after:inset-0"
                href={`/products/${handle}`}
              >
                {title}
              </a>
            </h2>
            <div class="mt-2 flex flex-wrap items-center justify-center gap-x-2 md:mt-4">
              <span class="text-dark dark:text-darkmode-dark text-base font-bold md:text-xl">
                <Price amount={product?.priceRange?.minVariantPrice.amount} />
              </span>

              {parseFloat(compareAtPriceRange?.maxVariantPrice.amount) > 0 && (
                <s class="text-light dark:text-darkmode-light text-xs font-medium md:text-base">
                  <Price
                    amount={
                      product?.compareAtPriceRange?.maxVariantPrice?.amount
                    }
                  />
                </s>
              )}
            </div>
          </div>
        </div>
      );
    })
  }
</div>

<div class="flex justify-center">
  <a
    class="btn btn-sm md:btn-lg btn-primary inline-flex items-center justify-center gap-x-2 font-medium"
    href="/products"
  >
    <DynamicIcon className="h-auto w-6" icon={"FaBagShopping"} /> See More Products
  </a>
</div>
