---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const call_to_action = await getEntry("sections", "call-to-action");
const { data } = call_to_action;
---

{
  data.enable && (
    <section class="section col-span-4">
      <div class="container">
        <div class="bg-theme-light dark:bg-darkmode-theme-light rounded-xl px-6 py-8 md:py-16">
          <div class="grid grid-cols-1 items-center lg:grid-cols-2">
            <div class="order-2 mx-auto mb-10 text-center md:mb-0 lg:order-1">
              <p
                set:html={markdownify(data.sub_title)}
                class="text-dark dark:text-darkmode-dark font-bold md:text-lg"
              />
              <h2
                set:html={markdownify(data.title)}
                class="my-2 text-3xl font-bold sm:text-5xl"
              />
              <p
                set:html={markdownify(data.description)}
                class="mb-6 md:text-lg"
              />

              {data.button.enable && (
                <a
                  class="btn btn-sm md:btn-lg btn-primary"
                  href={data.button.link}
                >
                  {data.button.label}
                </a>
              )}
            </div>

            <div class="order-1 mx-auto mb-6 lg:order-2 lg:mb-0">
              <ImageMod
                src={data.image}
                width={543}
                height={390}
                alt="cta-image"
                class="mx-auto rounded-md"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
