---
import Logo from "@/components/Logo.astro";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import DynamicIcon from "@/helpers/DynamicIcon";

const currentYear = new Date().getFullYear();

export interface ISocial {
  name: string;
  icon: string;
  link: string;
}
---

<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div
      class="flex flex-col items-center justify-between py-10 md:flex-row md:pt-20 md:pb-14"
    >
      <Logo />

      <ul class="my-3 flex gap-x-4 lg:gap-x-10">
        {
          menu.footer.map((menu) => (
            <li class="footer-link">
              <a href={menu.url}>{menu.name}</a>
            </li>
          ))
        }
      </ul>

      {/* social share */}
      <ul class="social-icons social-icons-footer">
        {
          social?.main.map((social: ISocial) => (
            <li>
              <a
                aria-label={social.name}
                href={social.link}
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <span class="sr-only">{social.name}</span>
                <DynamicIcon className="inline-block" icon={social.icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="border-border dark:border-darkmode-border border-t py-5">
      <div
        class="text-light dark:text-darkmode-light flex flex-col items-center justify-between gap-y-2 md:flex-row"
      >
        <ul class="flex gap-x-4">
          {
            menu.footerCopyright.map((menu) => (
              <li class="footer-link">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>

        <p class="text-sm font-light">
          &copy;<span id="copyright-year">{currentYear}</span> Marzellus - All Rights
          Reserved
        </p>
        <p class="text-right text-sm font-light">
          Website and cloud infrastructure built by <br />
          <a
            href="https://www.cobaltweb.tech/?utm_source=marzellus&utm_medium=web&utm_campaign=client-referral&utm_content=link"
            rel="noopener"
            target="_blank"
            class="text-nowrap; underline">Cobalt Web Technologies</a
          >.
        </p>
      </div>
    </div>
  </div>
  <!-- Set current year with client-side script -->
  <script>
    const copyrightYear = document.getElementById("copyright-year");
    if (copyrightYear) {
      copyrightYear.textContent = new Date().getFullYear().toString();
    }
  </script>
</footer>
